*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
textarea{
    resize: none;
}
.container{
    background-color: #B8AD7E;
    padding: 30px;
    min-height: 100vh;
    height: fit-content;
    display: flex;
}
.add-wrap{
    padding: 32px 20px;
    background-color: #F2E6A2;
    text-align: center;
    width: 25%;
    border-radius: 10px;
    margin-right: 0;
    display: inline-block;
    height: fit-content;
}
.add-wrap h1{
    color: #5C7B57;
    margin-top: 0;
}
.add-title, .add-content{
    padding: 10px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    border-radius: 10px;
    border: 2px solid #819D7C;
    line-height: 25px;
}
.add-btn{
    width: 90%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #819D7C;
    color: #FEFFDE;
}
.add-btn:hover{
    background-color: #5C7B57;
    color: #fff;
    cursor: pointer;
}

.notes-list{
    /* position: ; */
    height: 100%;
    display: grid;
    float: right;
    width: 70%;
    margin-left: 5%;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, 300px);
}

.note{
    background-color: #F2E6A2;
    font-size: 15px;
    width: 300px;
    border-radius: 10px;
    position: relative;
    padding: 8px;
    display: inline-block;
    height: fit-content;
}
.note-title{
    font-size: 18px;
    color: #000;
    text-align: center;
    font-weight: 800;
    margin-bottom: 8px;
    overflow: hidden;
}

.note-content, .note-content-s{
    font-size: 15px;
    max-height: 200px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    overflow: hidden;
}
.note-content{
    background-color: #fff;
}
.note-content-s{
    background-color: #FFF7D1;
}
.note-content:hover, .note-content-s:hover{
    overflow: visible;
    max-height: fit-content;
}
.note-footer{
    margin: 4px 10px 8px 10px;
    border-top: 1px solid #5C7B57;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    margin-bottom: 5px;
}

.star, .star-s, .delete{
    color: #fff;
    /* background-color: #F34040; */
    position: absolute;
    margin: 0;
    color: #fff;
    top: 0;
    opacity: 0.7;
    padding: 10px 20px;
    font-size: 18px;
}
.star{
    left: 0;
    color:#c5bf9b;
}
.delete{
    right: 0;
    color: #FD2929;
}
.star:hover, .delete:hover{
    opacity: 1;
    cursor: pointer;
}
.star-s, .star:hover{
    left: 0;
    color:#ecba18;
}